@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: #091d9e;
    padding: 0;
}

header {
    color: whitesmoke;
}

.centered-text {
    text-align: center;
}

.form {
    padding: 2em;
    background: #d0d2db;
    max-width: 992px;
    -webkit-box-shadow: 24px 25px 1px 0px #000000; 
    box-shadow: 24px 25px 1px 0px #000000;
}

.form-radios {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 50px;
}

.form-groups {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 50px;
    grid-gap: 4px;
    margin: 1.5em 1em;
}

input[type="submit"] {
    font-size: 22px;
    border: none;
    padding: 16px 60px;
    cursor: pointer;
}

#app {
    display: flex;
    justify-content: center;
}

footer {
    padding: 2em;
    margin-top: 40px;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color: gray;
}